%section#feedback
  %h1 Questions? Feedback?
  %p
    If this hasn't completely answered your questions or you have some thoughts on
    how we could make this content better, place get in touch at
    %a(href="mailto:hello@getglu.io") hello@getglu.io
