$base-font-size: 22px !default;
$base-color: rgba(0, 0, 0, 0.8) !default;
$base-line-height: $base-font-size * 1.5;
$base-spacing: $base-line-height;
$background-color: #fff !default;
$heading-font-family: 'Myriad', MyriadPro, 'Myriad Pro', myriad-pro, 'PT Sans', Lucida Sans, Segoe UI, Calibri, sans-serif !default;
$base-font-family: $heading-font-family !default;
$code-font-family: Consolas, 'Liberation Mono', Menlo, monaco, 'Inconsolata', 'Ubuntu Mono', Courier, monospace !default;
$link-color: rgb(77, 204, 75) !default;
$header-height: 65px !default;
$max-width: 100%;
